body {
    background-color:ivory;
}

h1, h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: coral;
    background-color: lavender;
}
h1 {
    font-size: 40px;
    text-align: center;
}

a {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: chocolate;
    font-size: 28px;
}

img {
    width: 400px;
    height: auto;
    align-items: center;
}